body{
    color:  #40514E;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto ;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2{
    font-family: 'Aladin', cursive;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
}
h3{
    font-family: 'Aladin', cursive;
    color: #11999E;
}
p{
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
a:hover{
    color: #EAF6F6;
}
.Top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    color: #66BFBF;
}
.middle-container{
    margin: 100px 0px;
}
.bottom-container{
    background-color: #66BFBF;
    margin: 30px 0px;
    padding: 50px auto ;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 30px auto 30px;
}
.copyright{
    color: #EAF6F6;
    padding: 20px 0px;
    font-size: 0.85rem;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.html{
    width: 25%;
    height: 15%;
    float: left;
    margin-right: 30px;
}
.python{
    width: 25%;
    height: 15%;
    float: right;
    margin-left: 30px;
    margin-top: 10px;
}
.c{
    width: 25%;
    height: 15%;
    float: left;
    margin-right: 30px;
}
.css{
    width: 25%;
    height: 15%;
    float: right;
    margin-left: 30px;
    margin-top: 10px;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }